body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  background-color: #735d78;
}

header {
  background-color: #d1b3c4;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: x-large;
  margin-left: 40px;
}

footer a:hover {
  color: black;
}

li {
  font-size: 175%;
  color: black;
}

.name {
  margin-left: 25px;
  font-size: 50px;
}

.nav-text-white {
  color: white
}

.nav-text-active-black {
  color: black;
}

.about {
  font-size: smaller;
}
.portfolio-content {
  font-size: 22px;
  margin-top: 50px;
  color: white;
}

.aboutme {
  font-size: 22px;
  margin-top: 50px;
  color: white;
}

.photo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  image-rendering: high-quality;
}

.skills {
  color: white;
  font-size: 15px;
}

.resume {
  font-size: smaller;
}

.image-card {
  position: relative;
  margin-left: 25px;
}

.top-left {
  position: absolute;
  top: 30px;
  left: 20px;
  color: black;
  font-size: 18px;
  opacity: 0;

}

.image-card:hover .port-image {
  opacity: 0.3;
}

.image-card:hover .top-left {
  opacity: 1;
}

.top-left a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: medium;
}

.top-left a:hover {
  text-decoration: underline;
}